<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <input type="hidden" name="product_id" value="">
        <input type="hidden" name="product_name" value="">
        <input type="hidden" name="product_image" value="">
        <input type="hidden" name="product_price" value="">
        <input type="hidden" name="product_name" value="">

        <button type="submit">Đặt hàng</button>
    </form>
</body>
</html>